<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.btpink.www.dao.AttendenceMapper">

<select id="selectAtd" resultType="Attendence">
	select s.stdno, s.name, a.absent, a.early, a.sick, a.late from student s inner join attendence a on s.stdno=a.stdno

</select>
<select id="getEmotionList" parameterType="string" resultType="Attendence">
	select today, emotion
	from attendence
	where stdno = #{stdNo}
</select>

</mapper>
