<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.btpink.www.dao.ParentMapper">
<!-- 	<insert id="Insert" parameterType="Parent"> -->
<!-- 		insert into account values( -->
<!-- 		#{memNo} -->
<!-- 		,#{name} -->
<!-- 		,#{type} -->
<!-- 		,#{id} -->
<!-- 		,#{pw} -->
<!-- 		,#{email} -->
<!-- 		,#{phone} -->
<!-- 		,0 -->
<!-- 		) -->
<!-- 	</insert> -->
	
	<insert id="parentInsert" parameterType="Parent">
		insert into parent values(
		#{memNo}
		,#{stdNo}
		)
	</insert>
</mapper>
