<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.btpink.www.dao.StudentMapper">
<!-- 	부모가 회원가입 할떄 학생 찾기 -->
	<select id="joinCheck" parameterType="Student" resultType="Student">
		select * from student where name = #{name} and classno = #{classno}
	</select>
<!-- 	 학생의 넘버를 부모에게 저장 -->
	<update id="parentUpdate" parameterType="Student">
		UPDATE student SET 
			parentno = #{parentno}
		WHERE 
		stdno = #{stdno}	
	</update>

<!--  학생 등록 -->
<insert id="insertStudent" parameterType="Student">
	insert into student	values (
	#{stdno}, 
	#{name}, 
	#{age}, 
	#{height}, 
	#{classno}, 
	TO_DATE(#{birth},'MM-DD-YYYY HH24:MI:SS'),
	#{address},
	#{gender},
	#{parentno},
	#{personalid},
	#{hateid}
	)
</insert>

<update id="update" parameterType="Student">
	update student 
	set classno = #{classno} 
	where stdno = #{stdno}
</update>

<!-- 학생 번호 가져오기 -->
<select id ="getStdno" parameterType="String" resultType="String">
select stdno from student where classno = #{classno}
</select>


<select id="allStuList" resultType="Student">
	select *
	from student
</select>

<update id="changeStuHogam" parameterType="Student">
	update student 
	set hateid=#{hateid} 
	where stdno = #{stdno}
</update>
<update id="allClassnoNull">
	update student 
	set classno = null
</update>
<update id="allHateNull">
	update student 
	set hateid = null
</update>
</mapper>
