<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="xyz.btpink.www.dao.TeacherMapper">
	<insert id="insertTeacher" parameterType="Teacher">
			insert into account values(
		#{memNo}
		,#{name}
		,#{type}
		,#{id}
		,#{pw}
		,#{email}
		,#{phone}
		,0
		)
	</insert>
	<select id="selectDemand" parameterType="string" resultType="Demand">
	select * from demand where classno = (select classno from class where memno = (select memno from account where id = #{id}))
	</select>
</mapper>
