@CHARSET "UTF-8";
#selfieimage{
	position : absolute;
	top : 0px;
	width: 100%;
}
#imgg {
	width:603px;
	height:454px;
	overflow: hidden;
}
#resultImg{
	width:900px;
	margin-top: -72px;
	margin-left: -160px;
}
.modal-content{
	width:632px;
}