<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="xyz.btpink.www.vo.Account" alias="Account" />
		<typeAlias type="xyz.btpink.www.vo.Teacher" alias="Teacher" />
		<typeAlias type="xyz.btpink.www.vo.Student" alias="Student" />
		<typeAlias type="xyz.btpink.www.vo.Parent" alias="Parent" />
		<typeAlias type="xyz.btpink.www.vo.Board" alias="Board" />
		<typeAlias type="xyz.btpink.www.vo.Reply" alias="Reply" />
		<typeAlias type="xyz.btpink.www.vo.Demand" alias="Demand" />
		<typeAlias type="xyz.btpink.www.vo.Attendence" alias="Attendence"/>
		<typeAlias type="xyz.btpink.www.vo.ClassVO" alias="ClassVO"/> 
		<typeAlias type="xyz.btpink.www.vo.Aapply" alias="Aapply"/>
		<typeAlias type="xyz.btpink.www.vo.IdentfyVO" alias="IdentfyVO"/>
		<typeAlias type="xyz.btpink.www.vo.CCTV" alias="CCTV"/>
		<typeAlias type="xyz.btpink.www.vo.studentInfomation" alias="studentInfomation"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/AccountMapper.xml" />
		<mapper resource="mapper/studentMapper.xml" />
		<mapper resource="mapper/parentMapper.xml" />
		<mapper resource="mapper/teacherMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />	
		<mapper resource="mapper/attendenceMapper.xml" />
		<mapper resource="mapper/ClassMapper.xml" />
		<mapper resource="mapper/CCTVMapper.xml" />
	</mappers>
</configuration>
